/* general */
    custtagA
    {
        color:green;        
    }
    body{ 
/*		background:#d8e6ec url(../images/bg_body.gif) repeat-x;*/
                font:80% Arial, Helvetica, Sans-Serif;
		color:#555;
		line-height:180%;
		margin:0;
		padding:0;
        }
	h1{
		font-size:200%;
		font-weight:normal;
		margin:0;
		text-align:center;
		padding-top:44px
		}
                
        div#languages{
                    padding-left:835px;
                    padding-top:40px
                }
	h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:1em 0;
                text-align:center;
		}	
	h2{            
		font-size:160%;
		}	
	h3{          
		font-size:140%;
		}
	h4{          
		font-size:120%;
		}				
/*	a{
		text-decoration:none;
		color:#fff;
		}
*/
                a:link, a:visited, a:focus, a:active {
                    color: black;
                }
                a:link, a:visited, a:focus, a:active {
                    text-decoration: none;
                }
                a:link, a:visited, a:focus, a:active, a:hover {
                    color: #285979 !important;
                }
                a:link, a:visited, a:focus, a:active, a:hover {
                    font-weight: bold;
                }							
	p{
		margin:1em 0;
		}		


/* // general */

/* page setup */

	#container{
                background-color: #f3f7f9;
		width:400px;
                margin:0 auto;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 3px;
                border: 1px solid #7092BE;
		}
                /*
	#header{
		background:url(../images/bg_header.png);
                
		}				
	
	#footer{
		background:url(../images/bg_footer.png) no-repeat 0 0;
		}
                */
        #content{
		background-color: #fff;
                margin: 0px auto;
		
		}

/* //page setup */
 

